# Hidden Files
.*
!.gitignore
!.gitkeep
!.github
!.travis.yml
!.well-known

# Swift
build/
Package.resolved

# Python
*.pyc

# Temporary Items
*.tmp
*.tmp.*

# Virtual Environments
/venv*/

# Configuration Override
*.override.*

# Extra Directories
/assets
/extra

# Jekyll
/_site
/_build
/.sass-cache
/.localized
/.jekyll-cache
