<div id="header">
	<a href='/'>
		<img alt='PVIEITO' id='logo' src="/resources/logo.png"/>
	</a>
	<p id="author">
		Creado por <a rel="author" href="https://twitter.com/pvieito"><b>Pedro José Pereira Vieito</b></a>
	</p>
	<nav id="links">
		<a href="https://github.com/pvieito">GitHub</a>
		&bull;
		<a href="https://twitter.com/pvieito">Twitter</a> 
		&bull;
		<a href="https://www.youtube.com/user/pvieitoTV">YouTube</a> 
		&bull;
		<a title="57A1 E3AE 56DF F83A B4B2&#10;5153 E61C E017 543F 81CA" href="https://pgp.mit.edu/pks/lookup?op=get&search=0xE61CE017543F81CA">PGP</a>
	</nav>
</div>