<article lang="en">        <div class="content" style="margin: 3em 0 4em; overflow: auto;">
           <div style="float: left; width: 25%;">
               <a href="https://apps.apple.com/us/app/overpicture-for-safari/id1188020834?mt=12&uo=4">
<img style="width: 85%; margin-left: 0;" src="https://is2-ssl.mzstatic.com/image/thumb/Purple123/v4/d4/e5/db/d4e5db16-7616-88a2-7fec-46c5ce5c3476/source/512x512bb.png"/>
               </a>
           </div>
           <div style="float: right; width: 75%;">
               <header style="overflow: auto;">
                   <h2 class="title" style="margin-top: 0;">
                       <a href="https://apps.apple.com/us/app/overpicture-for-safari/id1188020834?mt=12&uo=4">
                            OverPicture
                       </a>
                   </h2>
                   <p class="meta">
                        <i><span>for Safari</span></i> <a href="https://apps.apple.com/us/app/overpicture-for-safari/id1188020834?mt=12&uo=4"><span class="lang">macOS</span></a> <a href="https://apps.apple.com/us/app/overpicture-for-safari/id1244483738?uo=4"><span class="lang">iOS</span></a>
                   </p>
               </header>
               <div class="content">
                   <span>OverPicture is an Extension for Safari that allows you to play any web video in Picture-In-Picture mode.</span>
               </div>
           </div>
       </div>        <div class="content" style="margin: 3em 0 4em; overflow: auto;">
           <div style="float: left; width: 25%;">
               <a href="https://apps.apple.com/us/app/makepass-barcode-to-wallet/id1450989464?uo=4">
<img style="width: 85%; margin-left: 0;" src="https://is1-ssl.mzstatic.com/image/thumb/Purple113/v4/51/85/2c/51852cd9-63de-371d-c9a8-2b12313bf45c/source/512x512bb.png"/>
               </a>
           </div>
           <div style="float: right; width: 75%;">
               <header style="overflow: auto;">
                   <h2 class="title" style="margin-top: 0;">
                       <a href="https://apps.apple.com/us/app/makepass-barcode-to-wallet/id1450989464?uo=4">
                            MakePass
                       </a>
                   </h2>
                   <p class="meta">
                        <i><span>Barcode to Wallet</span></i> <a href="https://apps.apple.com/us/app/makepass-barcode-to-wallet/id1481124692?mt=12&uo=4"><span class="lang">macOS</span></a> <a href="https://apps.apple.com/us/app/makepass-barcode-to-wallet/id1450989464?uo=4"><span class="lang">iOS</span></a>
                   </p>
               </header>
               <div class="content">
                   <span>MakePass allows you to create Apple Wallet passes quickly from any supported barcode. MakePass supports scanning and detecting barcodes from images, PDFs and directly from the camera, customizing the pass and storing it on Wallet so it will be synced across all your devices.</span>
               </div>
           </div>
       </div>        <div class="content" style="margin: 3em 0 4em; overflow: auto;">
           <div style="float: left; width: 25%;">
               <a href="https://apps.apple.com/us/app/makepdf-document-merger/id1200274125?mt=12&uo=4">
<img style="width: 85%; margin-left: 0;" src="https://is3-ssl.mzstatic.com/image/thumb/Purple118/v4/fe/f9/3d/fef93d4a-d784-0e5e-da46-d0990be1334b/source/512x512bb.png"/>
               </a>
           </div>
           <div style="float: right; width: 75%;">
               <header style="overflow: auto;">
                   <h2 class="title" style="margin-top: 0;">
                       <a href="https://apps.apple.com/us/app/makepdf-document-merger/id1200274125?mt=12&uo=4">
                            MakePDF
                       </a>
                   </h2>
                   <p class="meta">
                        <i><span>Document Merger</span></i> <a href="https://apps.apple.com/us/app/makepdf-document-merger/id1200274125?mt=12&uo=4"><span class="lang">macOS</span></a> <a href="https://apps.apple.com/us/app/makepdf-document-merger/id1487555950?uo=4"><span class="lang">iOS</span></a>
                   </p>
               </header>
               <div class="content">
                   <span>MakePDF allows you to merge multiple files into a unique PDF really quickly by simply selecting or dropping documents and images.</span>
               </div>
           </div>
       </div>        <div class="content" style="margin: 3em 0 4em; overflow: auto;">
           <div style="float: left; width: 25%;">
               <a href="https://apps.apple.com/us/app/airweight-for-bluetooth-scales/id931232011?uo=4">
<img style="width: 85%; margin-left: 0;" src="https://is1-ssl.mzstatic.com/image/thumb/Purple123/v4/e1/9d/47/e19d47be-7a89-3c8a-4347-750a1f215f05/source/512x512bb.png"/>
               </a>
           </div>
           <div style="float: right; width: 75%;">
               <header style="overflow: auto;">
                   <h2 class="title" style="margin-top: 0;">
                       <a href="https://apps.apple.com/us/app/airweight-for-bluetooth-scales/id931232011?uo=4">
                            AirWeight
                       </a>
                   </h2>
                   <p class="meta">
                        <i><span>for Bluetooth Scales</span></i> <a href="https://apps.apple.com/us/app/airweight-for-bluetooth-scales/id1481133183?mt=12&uo=4"><span class="lang">macOS</span></a> <a href="https://apps.apple.com/us/app/airweight-for-bluetooth-scales/id931232011?uo=4"><span class="lang">iOS</span></a>
                   </p>
               </header>
               <div class="content">
                   <span>AirWeight connects to your SANITAS SBF70, Xiaomi Mi Scale and Xiaomi Mi Scale 2 Bluetooth LE scale and reads your weight in realtime, calculates your Body Mass Index and saves it to HealthKit.</span>
               </div>
           </div>
       </div>        <div class="content" style="margin: 3em 0 4em; overflow: auto;">
           <div style="float: left; width: 25%;">
               <a href="https://apps.apple.com/us/app/instalogin-for-safari/id1203374370?mt=12&uo=4">
<img style="width: 85%; margin-left: 0;" src="https://is5-ssl.mzstatic.com/image/thumb/Purple118/v4/d7/7e/95/d77e95a5-a9cd-8fcb-5208-193adeaa2903/source/512x512bb.png"/>
               </a>
           </div>
           <div style="float: right; width: 75%;">
               <header style="overflow: auto;">
                   <h2 class="title" style="margin-top: 0;">
                       <a href="https://apps.apple.com/us/app/instalogin-for-safari/id1203374370?mt=12&uo=4">
                            InstaLogin
                       </a>
                   </h2>
                   <p class="meta">
                        <i><span>for Safari</span></i> <a href="https://apps.apple.com/us/app/instalogin-for-safari/id1203374370?mt=12&uo=4"><span class="lang">macOS</span></a>
                   </p>
               </header>
               <div class="content">
                   <span>InstaLogin is a Safari App Extension that allows you to automatically login in websites instantly with Safari AutoFill!</span>
               </div>
           </div>
       </div>        <div class="content" style="margin: 3em 0 4em; overflow: auto;">
           <div style="float: left; width: 25%;">
               <a href="https://apps.apple.com/us/app/depthviewer-for-portrait-mode/id1369754808?mt=12&uo=4">
<img style="width: 85%; margin-left: 0;" src="https://is3-ssl.mzstatic.com/image/thumb/Purple113/v4/1f/da/b1/1fdab1fc-cf82-3a51-c5d9-9d1dbb80d145/source/512x512bb.png"/>
               </a>
           </div>
           <div style="float: right; width: 75%;">
               <header style="overflow: auto;">
                   <h2 class="title" style="margin-top: 0;">
                       <a href="https://apps.apple.com/us/app/depthviewer-for-portrait-mode/id1369754808?mt=12&uo=4">
                            DepthViewer
                       </a>
                   </h2>
                   <p class="meta">
                        <i><span>for Portrait Mode</span></i> <a href="https://apps.apple.com/us/app/depthviewer-for-portrait-mode/id1369754808?mt=12&uo=4"><span class="lang">macOS</span></a>
                   </p>
               </header>
               <div class="content">
                   <span>DepthViewer can load any Portrait Mode photo with Depth Maps taken with iPhone and show a 3D model of the image.</span>
               </div>
           </div>
       </div>        <div class="content" style="margin: 3em 0 4em; overflow: auto;">
           <div style="float: left; width: 25%;">
               <a href="https://apps.apple.com/us/app/overvoice-message-transcriber/id1434634466?uo=4">
<img style="width: 85%; margin-left: 0; border-radius: 17.5%;" src="https://is2-ssl.mzstatic.com/image/thumb/Purple118/v4/d6/f7/7d/d6f77db1-302d-7ada-b7bc-8f7404763081/source/512x512bb.jpg"/>
               </a>
           </div>
           <div style="float: right; width: 75%;">
               <header style="overflow: auto;">
                   <h2 class="title" style="margin-top: 0;">
                       <a href="https://apps.apple.com/us/app/overvoice-message-transcriber/id1434634466?uo=4">
                            OverVoice
                       </a>
                   </h2>
                   <p class="meta">
                        <i><span>Message Transcriber</span></i> <a href="https://apps.apple.com/us/app/overvoice-message-transcriber/id1434634466?uo=4"><span class="lang">iOS</span></a>
                   </p>
               </header>
               <div class="content">
                   <span>OverVoice allows you to transcribe any voice message or audio file using its Extension. It can convert voice messages to text in all languages supported by iOS dictation service.</span>
               </div>
           </div>
       </div></article>