<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">
        <meta name="color-scheme" content="dark light">
            
		<title>{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
		<link rel="stylesheet" href="/css/main.css">
		<link rel="icon" href="/resources/icon.png">
		<link rel="mask-icon" href="/resources/icon.svg" color="black">
		<link rel="alternate" title="{{ site.title }}" type="application/atom+xml" href="/feed.xml" />
        <link rel="alternate" title="{{ site.title }}" type="application/json" href="/feed.json" />

		<script async src="//www.google-analytics.com/analytics.js"></script>
	</head>
	<body>
		<section id="wrapper">
			<header id="title">
				<a href="/">
					<img alt="{{ site.title }}" id="logo" src="/resources/logo.svg"/>
				</a>
				<p id="author">
					by <a rel="author" href="https://twitter.com/pvieito"><b>{{ site.author }}</b></a>
				</p>
				<nav id="links">
					<a href="https://github.com/pvieito">GitHub</a>
					&bull;
					<a href="https://twitter.com/pvieito">Twitter</a>
					&bull;
					<a href="https://www.youtube.com/user/pvieitoTV">YouTube</a>
				</nav>
			</header>
			{{ content }}
			<footer>
				<hr>
				{% if paginator.previous_page %}
				<div style="float:left;"><a href="{{ paginator.previous_page_path }}">〈</a></div>
				{% endif %}
				{% if paginator.next_page %}
				<div style="float:right;"><a href="{{ paginator.next_page_path }}">〉</a></div>
				{% endif %}
				<div class="contact">© {{ site.creation }}–{{ site.time | date: "%Y" }} {{ site.author }}</div>
			</footer>
		</section>

		<!-- Google Analytics -->
		<script>
		window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
		ga("create", "UA-33067442-1", "auto");
		ga("send", "pageview");
		</script>
	</body>
</html>
